asgiref
bcrypt
blinker
certifi
chardet
click
colorama
command-not-found
crispy-bootstrap5
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
Django
django-crispy-forms
django-environ
duplicity
fasteners
future
httplib2
idna
importlib-metadata
jeepney
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
monotonic
more-itertools
mysql-connector-python
netifaces
oauthlib
olefile
paramiko
pexpect
Pillow
protobuf
psycopg2
ptyprocess
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
SecretStorage
six
sqlparse
systemd-python
typing_extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
xdg
xkit
zipp